@import url('../base.less');

.header-box {
    background-color: #000;
    height: 65px;

    #setFlex(space-between);

    .left-btn {
        .MuiButtonBase-root {

            background-color: rgb(100, 100, 100);
            border: 1px solid rgb(18, 18, 18);
            margin-left: 20px;

            #trs-bgc(#fff, #fff)
        }

        .MuiInputBase-input {
            background-color: #fff;
            border-radius: 10px;
            #setWH(22vw, 40px);
            font-size: 15px;
            outline: none;
            border: none;
            border-radius: 30px;
            margin-left: 15px;
            padding: 0px 20px;
        }

        .css-bz5ng3-MuiInputBase-root-MuiInput-root::after {
            border-bottom: none;
        }

    }

    .right {
        margin-right: 30px;
    }
}